In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%matplotlib inline

### os
import os
import sys
import pathlib

### datetimes
from datetime import datetime, timedelta

### scipy
import numpy as np
import pandas as pd

### plotting
from matplotlib import pyplot as plt
import matplotlib

In [3]:
os.environ["NUMEXPR_MAX_THREADS"] = '12'

In [4]:
np.random.seed(42)

In [5]:
predictors = 'observed_climate_indices'

max_features_lag = 20

lag_to_realtime = 1

varname_target = 'RAIN'

period_features = 'seasonal'

period_target = 'seasonal'

region = 'ENI'

target_col = 'cat_3'

dpath = '/home/nicolasf/research/Smart_Ideas_Final/outputs/tabular'

In [6]:
dpath = pathlib.Path(dpath)

In [7]:
dpath = pathlib.Path(dpath)

In [8]:
df = pd.read_csv(dpath.joinpath(f"observed_climate_indices_{period_features}_{max_features_lag}lags_{lag_to_realtime}lag_to_realtime_{region}_{varname_target}_{target_col}_{period_features}.csv"), 
                 index_col=0, 
                 parse_dates=True)

In [9]:
df.head()

,EMI_seasonal_0,EMI_seasonal_1,EMI_seasonal_2,EMI_seasonal_3,EMI_seasonal_4,EMI_seasonal_5,EMI_seasonal_6,EMI_seasonal_7,EMI_seasonal_8,EMI_seasonal_9,...,Z1_seasonal_11,Z1_seasonal_12,Z1_seasonal_13,Z1_seasonal_14,Z1_seasonal_15,Z1_seasonal_16,Z1_seasonal_17,Z1_seasonal_18,Z1_seasonal_19,cat_3
1981-02-28,0.111612,0.150942,0.261013,0.396177,0.407597,0.428216,0.507713,0.525759,0.514545,0.385050,...,-0.114518,-0.531957,-0.269533,-0.750662,-0.436681,-0.073873,-0.264117,0.298626,0.297327,2
1981-03-31,0.172888,0.111612,0.150942,0.261013,0.396177,0.407597,0.428216,0.507713,0.525759,0.514545,...,0.024798,-0.114518,-0.531957,-0.269533,-0.750662,-0.436681,-0.073873,-0.264117,0.298626,0
1981-04-30,0.192618,0.172888,0.111612,0.150942,0.261013,0.396177,0.407597,0.428216,0.507713,0.525759,...,0.585679,0.024798,-0.114518,-0.531957,-0.269533,-0.750662,-0.436681,-0.073873,-0.264117,1
1981-05-31,0.245335,0.192618,0.172888,0.111612,0.150942,0.261013,0.396177,0.407597,0.428216,0.507713,...,0.416995,0.585679,0.024798,-0.114518,-0.531957,-0.269533,-0.750662,-0.436681,-0.073873,2
1981-06-30,0.284993,0.245335,0.192618,0.172888,0.111612,0.150942,0.261013,0.396177,0.407597,0.428216,...,0.155731,0.416995,0.585679,0.024798,-0.114518,-0.531957,-0.269533,-0.750662,-0.436681,2

In [10]:
df.tail()

,EMI_seasonal_0,EMI_seasonal_1,EMI_seasonal_2,EMI_seasonal_3,EMI_seasonal_4,EMI_seasonal_5,EMI_seasonal_6,EMI_seasonal_7,EMI_seasonal_8,EMI_seasonal_9,...,Z1_seasonal_11,Z1_seasonal_12,Z1_seasonal_13,Z1_seasonal_14,Z1_seasonal_15,Z1_seasonal_16,Z1_seasonal_17,Z1_seasonal_18,Z1_seasonal_19,cat_3
2019-08-31,0.445640,0.431095,0.372740,0.364841,0.450154,0.521218,0.532342,0.437007,0.379107,0.283585,...,0.370567,0.313655,-0.211313,-0.442698,-0.939586,-0.838544,-0.234679,0.230072,0.248515,0
2019-09-30,0.387744,0.445640,0.431095,0.372740,0.364841,0.450154,0.521218,0.532342,0.437007,0.379107,...,-0.040338,0.370567,0.313655,-0.211313,-0.442698,-0.939586,-0.838544,-0.234679,0.230072,0
2019-10-31,0.401512,0.387744,0.445640,0.431095,0.372740,0.364841,0.450154,0.521218,0.532342,0.437007,...,0.497697,-0.040338,0.370567,0.313655,-0.211313,-0.442698,-0.939586,-0.838544,-0.234679,1
2019-11-30,0.542545,0.401512,0.387744,0.445640,0.431095,0.372740,0.364841,0.450154,0.521218,0.532342,...,0.370162,0.497697,-0.040338,0.370567,0.313655,-0.211313,-0.442698,-0.939586,-0.838544,0
2019-12-31,0.733343,0.542545,0.401512,0.387744,0.445640,0.431095,0.372740,0.364841,0.450154,0.521218,...,0.604261,0.370162,0.497697,-0.040338,0.370567,0.313655,-0.211313,-0.442698,-0.939586,1

In [11]:
df.loc[:,'month'] = df.index.month

### set up training, trest and test set

In [12]:
year_valid = 2014

In [13]:
year_test = 2017

In [14]:
df.tail()

,EMI_seasonal_0,EMI_seasonal_1,EMI_seasonal_2,EMI_seasonal_3,EMI_seasonal_4,EMI_seasonal_5,EMI_seasonal_6,EMI_seasonal_7,EMI_seasonal_8,EMI_seasonal_9,...,Z1_seasonal_12,Z1_seasonal_13,Z1_seasonal_14,Z1_seasonal_15,Z1_seasonal_16,Z1_seasonal_17,Z1_seasonal_18,Z1_seasonal_19,cat_3,month
2019-08-31,0.445640,0.431095,0.372740,0.364841,0.450154,0.521218,0.532342,0.437007,0.379107,0.283585,...,0.313655,-0.211313,-0.442698,-0.939586,-0.838544,-0.234679,0.230072,0.248515,0,8
2019-09-30,0.387744,0.445640,0.431095,0.372740,0.364841,0.450154,0.521218,0.532342,0.437007,0.379107,...,0.370567,0.313655,-0.211313,-0.442698,-0.939586,-0.838544,-0.234679,0.230072,0,9
2019-10-31,0.401512,0.387744,0.445640,0.431095,0.372740,0.364841,0.450154,0.521218,0.532342,0.437007,...,-0.040338,0.370567,0.313655,-0.211313,-0.442698,-0.939586,-0.838544,-0.234679,1,10
2019-11-30,0.542545,0.401512,0.387744,0.445640,0.431095,0.372740,0.364841,0.450154,0.521218,0.532342,...,0.497697,-0.040338,0.370567,0.313655,-0.211313,-0.442698,-0.939586,-0.838544,0,11
2019-12-31,0.733343,0.542545,0.401512,0.387744,0.445640,0.431095,0.372740,0.364841,0.450154,0.521218,...,0.370162,0.497697,-0.040338,0.370567,0.313655,-0.211313,-0.442698,-0.939586,1,12

In [15]:
df_train = df.loc[:f'{year_valid}-12-01']

In [16]:
df_valid = df.loc[f'{year_valid + 1}-04-01':f'{year_test - 1}-12',:]

In [17]:
df_test = df.loc[f'{year_test}-04-01':,:]

### class distribution for the test set

In [18]:
pd.value_counts(df_valid.loc[:,target_col])

0    10
1     7
2     4
Name: cat_3, dtype: int64

In [19]:
df_train.tail(2)

,EMI_seasonal_0,EMI_seasonal_1,EMI_seasonal_2,EMI_seasonal_3,EMI_seasonal_4,EMI_seasonal_5,EMI_seasonal_6,EMI_seasonal_7,EMI_seasonal_8,EMI_seasonal_9,...,Z1_seasonal_12,Z1_seasonal_13,Z1_seasonal_14,Z1_seasonal_15,Z1_seasonal_16,Z1_seasonal_17,Z1_seasonal_18,Z1_seasonal_19,cat_3,month
2014-10-31,0.029516,0.235653,0.331903,0.166462,0.053660,0.016882,0.157770,0.179213,0.169815,0.160252,...,-0.484296,-0.205606,-0.307082,-0.226280,-0.051555,0.103713,0.347776,0.455349,2,10
2014-11-30,-0.135314,0.029516,0.235653,0.331903,0.166462,0.053660,0.016882,0.157770,0.179213,0.169815,...,-0.189473,-0.484296,-0.205606,-0.307082,-0.226280,-0.051555,0.103713,0.347776,1,11

In [20]:
df_valid.head(2)

,EMI_seasonal_0,EMI_seasonal_1,EMI_seasonal_2,EMI_seasonal_3,EMI_seasonal_4,EMI_seasonal_5,EMI_seasonal_6,EMI_seasonal_7,EMI_seasonal_8,EMI_seasonal_9,...,Z1_seasonal_12,Z1_seasonal_13,Z1_seasonal_14,Z1_seasonal_15,Z1_seasonal_16,Z1_seasonal_17,Z1_seasonal_18,Z1_seasonal_19,cat_3,month
2015-04-30,0.333613,0.250029,0.107014,-0.037486,-0.168481,-0.135314,0.029516,0.235653,0.331903,0.166462,...,-0.078991,-0.046010,0.249823,0.145444,-0.211703,-0.189473,-0.484296,-0.205606,0,4
2015-05-31,0.429107,0.333613,0.250029,0.107014,-0.037486,-0.168481,-0.135314,0.029516,0.235653,0.331903,...,-0.263597,-0.078991,-0.046010,0.249823,0.145444,-0.211703,-0.189473,-0.484296,1,5

In [21]:
df_valid.tail(2)

,EMI_seasonal_0,EMI_seasonal_1,EMI_seasonal_2,EMI_seasonal_3,EMI_seasonal_4,EMI_seasonal_5,EMI_seasonal_6,EMI_seasonal_7,EMI_seasonal_8,EMI_seasonal_9,...,Z1_seasonal_12,Z1_seasonal_13,Z1_seasonal_14,Z1_seasonal_15,Z1_seasonal_16,Z1_seasonal_17,Z1_seasonal_18,Z1_seasonal_19,cat_3,month
2016-11-30,-0.053188,0.141545,0.284376,0.386566,0.333333,0.345222,0.339860,0.378166,0.310402,0.274053,...,1.234918,1.297095,0.639690,0.298621,-0.315683,-0.591929,-0.094844,0.420969,2,11
2016-12-31,-0.229576,-0.053188,0.141545,0.284376,0.386566,0.333333,0.345222,0.339860,0.378166,0.310402,...,0.921144,1.234918,1.297095,0.639690,0.298621,-0.315683,-0.591929,-0.094844,1,12

In [22]:
df_test.head(2)

,EMI_seasonal_0,EMI_seasonal_1,EMI_seasonal_2,EMI_seasonal_3,EMI_seasonal_4,EMI_seasonal_5,EMI_seasonal_6,EMI_seasonal_7,EMI_seasonal_8,EMI_seasonal_9,...,Z1_seasonal_12,Z1_seasonal_13,Z1_seasonal_14,Z1_seasonal_15,Z1_seasonal_16,Z1_seasonal_17,Z1_seasonal_18,Z1_seasonal_19,cat_3,month
2017-04-30,-0.548826,-0.636523,-0.555749,-0.408841,-0.229576,-0.053188,0.141545,0.284376,0.386566,0.333333,...,0.094934,-0.077704,-0.067541,-0.054062,0.921144,1.234918,1.297095,0.639690,2,4
2017-05-31,-0.553659,-0.548826,-0.636523,-0.555749,-0.408841,-0.229576,-0.053188,0.141545,0.284376,0.386566,...,-0.361118,0.094934,-0.077704,-0.067541,-0.054062,0.921144,1.234918,1.297095,2,5

In [23]:
import autogluon as ag
from autogluon.tabular import TabularDataset, TabularPredictor

In [24]:
dataset_train = TabularDataset(df_train)

In [25]:
dataset_valid = TabularDataset(df_valid)

In [26]:
dataset_test = TabularDataset(df_test)

In [27]:
dataset_train

,EMI_seasonal_0,EMI_seasonal_1,EMI_seasonal_2,EMI_seasonal_3,EMI_seasonal_4,EMI_seasonal_5,EMI_seasonal_6,EMI_seasonal_7,EMI_seasonal_8,EMI_seasonal_9,...,Z1_seasonal_12,Z1_seasonal_13,Z1_seasonal_14,Z1_seasonal_15,Z1_seasonal_16,Z1_seasonal_17,Z1_seasonal_18,Z1_seasonal_19,cat_3,month
1981-02-28,0.111612,0.150942,0.261013,0.396177,0.407597,0.428216,0.507713,0.525759,0.514545,0.385050,...,-0.531957,-0.269533,-0.750662,-0.436681,-0.073873,-0.264117,0.298626,0.297327,2,2
1981-03-31,0.172888,0.111612,0.150942,0.261013,0.396177,0.407597,0.428216,0.507713,0.525759,0.514545,...,-0.114518,-0.531957,-0.269533,-0.750662,-0.436681,-0.073873,-0.264117,0.298626,0,3
1981-04-30,0.192618,0.172888,0.111612,0.150942,0.261013,0.396177,0.407597,0.428216,0.507713,0.525759,...,0.024798,-0.114518,-0.531957,-0.269533,-0.750662,-0.436681,-0.073873,-0.264117,1,4
1981-05-31,0.245335,0.192618,0.172888,0.111612,0.150942,0.261013,0.396177,0.407597,0.428216,0.507713,...,0.585679,0.024798,-0.114518,-0.531957,-0.269533,-0.750662,-0.436681,-0.073873,2,5
1981-06-30,0.284993,0.245335,0.192618,0.172888,0.111612,0.150942,0.261013,0.396177,0.407597,0.428216,...,0.416995,0.585679,0.024798,-0.114518,-0.531957,-0.269533,-0.750662,-0.436681,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-31,0.166462,0.053660,0.016882,0.157770,0.179213,0.169815,0.160252,0.249913,0.244076,0.172565,...,-0.226280,-0.051555,0.103713,0.347776,0.455349,0.264879,-0.639328,-0.570842,0,7
2014-08-31,0.331903,0.166462,0.053660,0.016882,0.157770,0.179213,0.169815,0.160252,0.249913,0.244076,...,-0.307082,-0.226280,-0.051555,0.103713,0.347776,0.455349,0.264879,-0.639328,0,8
2014-09-30,0.235653,0.331903,0.166462,0.053660,0.016882,0.157770,0.179213,0.169815,0.160252,0.249913,...,-0.205606,-0.307082,-0.226280,-0.051555,0.103713,0.347776,0.455349,0.264879,1,9
2014-10-31,0.029516,0.235653,0.331903,0.166462,0.053660,0.016882,0.157770,0.179213,0.169815,0.160252,...,-0.484296,-0.205606,-0.307082,-0.226280,-0.051555,0.103713,0.347776,0.455349,2,10
2014-11-30,-0.135314,0.029516,0.235653,0.331903,0.166462,0.053660,0.016882,0.157770,0.179213,0.169815,...,-0.189473,-0.484296,-0.205606,-0.307082,-0.226280,-0.051555,0.103713,0.347776,1,11

### path to save models and metrics

In [28]:
save_path = f'AG_observed_climate_indices_{period_features}_{max_features_lag}lags_{lag_to_realtime}lag_to_realtime_{region}_{varname_target}_{target_col}_{period_features}'  # specifies folder to store trained models

In [ ]:
predictor = TabularPredictor(label=target_col, path=save_path).fit(dataset_train, tuning_data=dataset_valid)

Beginning AutoGluon training ...
AutoGluon will save models to "AG_observed_climate_indices_seasonal_20lags_1lag_to_realtime_ENI_RAIN_cat_3_seasonal/"
AutoGluon Version:  0.2.0
Train Data Rows:    406
Train Data Columns: 141
Tuning Data Rows:    21
Tuning Data Columns: 141
Preprocessing data ...
AutoGluon infers your prediction problem is: 'multiclass' (because dtype of label-column == int, but few unique label-values observed).
	3 unique label values:  [2, 0, 1]
	If 'multiclass' is not the correct problem_type, please manually specify the problem_type argument in fit() (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Train Data Class Count: 3
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    125598.42 MB
	Train Data (Original)  Memory Usage: 0.48 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', []) : 140 | ['EMI_seasonal_0', 'EMI_seasonal_1', 'EMI_seasonal_2', 'EMI_seasonal_3', 'EMI_seasonal_4', ...]
		('int', [])   :   1 | ['month']
	Types of features in processed data (raw dtype, special dtypes):
		('float', []) : 140 | ['EMI_seasonal_0', 'EMI_seasonal_1', 'EMI_seasonal_2', 'EMI_seasonal_3', 'EMI_seasonal_4', ...]
		('int', [])   :   1 | ['month']
	0.3s = Fit runtime
	141 features in original data used to generate 141 features in processed data.
	Train Data (Processed) Memory Usage: 0.48 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.41s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric argument of fit()
Fitting model: KNeighborsUnif ...
	0.619	 = Validation accuracy score
	0.01s	 = Training runtime
	0.27s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.619	 = Validation accuracy score
	0.0s	 = Training runtime
	0.28s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
	0.5714	 = Validation accuracy score
	11.06s	 = Training runtime
	0.1s	 = Validation runtime
Fitting model: LightGBMXT ...
	0.7143	 = Validation accuracy score
	46.82s	 = Training runtime
	0.0s	 = Validation runtime
Fitting model: LightGBM ...
	0.5714	 = Validation accuracy score
	4.13s	 = Training runtime
	0.0s	 = Validation runtime
Fitting model: RandomForestGini ...
	0.619	 = Validation accuracy score
	0.51s	 = Training runtime
	0.03s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.5238	 = Validation accuracy score
	1.16s	 = Training runtime
	0.35s	 = Validation runtime
Fitting model: CatBoost ...
	0.619	 = Validation accuracy score
	12.57s	 = Training runtime
	0.02s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.5238	 = Validation accuracy score
	1.12s	 = Training runtime
	0.27s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.4286	 = Validation accuracy score
	1.19s	 = Training runtime
	0.27s	 = Validation runtime
Fitting model: XGBoost ...

### loads the saved model

In [ ]:
predictor = TabularPredictor.load(save_path)

### evaluate over the independant test set (2017 - 2019)

In [ ]:
test_set_results = predictor.evaluate(dataset_test)

In [ ]:
test_set_results = pd.Series(test_set_results)

In [ ]:
test_set_results

In [ ]:
test_set_results.to_csv(f'./logging/AG_observed_climate_indices_{period_features}_{max_features_lag}lags_{lag_to_realtime}lag_to_realtime_{region}_{varname_target}_{target_col}_{period_features}.csv')

In [ ]:
dataset_test.columns

### predicted class probabilities can be very close to a 'climatological' forecast, which renders the forecast less confident, checking the class probabilities here

In [ ]:
predictor.predict_proba(dataset_test.drop(target_col, axis=1))

### checking the evaluation results 'manually'

### class probabilities

In [ ]:
y_hat_probs = predictor.predict_proba(dataset_test.drop(target_col, axis=1))

In [ ]:
(dataset_test.loc[:,target_col].values == np.argmax(y_hat_probs.values, axis=1)).sum() / len(dataset_test)

In [ ]:
predictor.get_model_best()

In [ ]:
predictor.leaderboard(dataset_valid, silent=True)

In [ ]:
leader_board = predictor.leaderboard(dataset_test, silent=True)

In [ ]:
leader_board

In [ ]:
leader_board.iloc[0].model

In [ ]:
model_to_use = leader_board.iloc[0].model

In [ ]:
model_pred = predictor.predict(dataset_test.drop(target_col, axis=1), model=model_to_use)

In [ ]:
(model_pred == dataset_test.loc[:,target_col]).sum() / len(dataset_test)